<!DOCTYPE html>
<html>
<head>
  <title>Rto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= alert %>

<% if user_signed_in? %>
	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	
	<%= link_to "Districts", districts_path %> | <%= link_to "Registration Numbers", registration_numbers_path %> | <%= link_to "Localities", localities_path %>
	
<% else %>
	<%= link_to "Login", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %>

<% end %>



<%= yield %>

</body>
</html>
